.content {
  width: 100%;
  background-color: var(--main-bg-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
}

/* #region ============== Projects ============== */

.content-section {
  margin-bottom: 20px;
}

.content-title {
  font-family: var(--second-font);
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--main-color);
}

.projects-list {
  border-radius: 8px;
  overflow: hidden;
}
.project-item {
  background-color: var(--second-bg-color);
}

.project-item:not(:last-child) {
  margin-bottom: 10px;
}

.project-item:hover .item-key {
  text-decoration: underline;
}

.project-link {
}

.thumb {
  width: 100%;
  height: 104px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-text-box {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-work-part {
}

.project-title {
  margin-bottom: 4px;
}

/* #endregion =========== Projects =========== */

/* #region ============= Experience ============= */
.experience {
}

.experience-list {
  border-radius: 8px;
  overflow: hidden;
}

.experience-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: var(--second-bg-color);
}

.experience-item:not(:last-child) {
  margin-bottom: 6px;
}

.pachamama-logo {
  fill: rgb(1, 86, 1);
}

.job-img {
  width: 32px;
  height: auto;
}

.experience-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.experience-company-box {
}
.experience-position {
}

.experience-item-box .item-name {
  margin-bottom: 4px;
}
.experience-company-link {
}
.experience-date-box {
}
.experience-date {
  color: var(--main-color);
  font-size: 12px;
  text-align: right;
  margin-bottom: 4px;
}
.company-address {
  text-align: right;
}
.company-address-link {
  text-align: center;
}

.company-address-link {
  display: flex;
  text-align: center;
  justify-content: right;
}
.company-address-icon {
  /* margin-right: 3px; */
  /* vertical-align: middle; */
}

/* #endregion ========== Experience ========== */

/* #region ============= Education ============= */
.education {
}
.content-section {
}
.content-title {
}
.education-list {
}
.education-item {
  padding: 8px 0;
  /* background-color: var(--second-bg-color); */
}

.education-item:not(:last-child) {
  margin-bottom: 12px;
}
.education-header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 8px;
}
.education-header-left {
}

.education-link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.goit-logo {
}
.education-header-right .item-key {
  margin-bottom: 4px;
  text-align: right;
}

.education-header-right .item-name {
  text-align: right;
}

.education-link .item-name {
}
.study-blocks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 8px;
  overflow: hidden;
}
.study-block-item {
  width: calc((100% - 15px) / 4);
  background-color: var(--second-bg-color);

  padding: 15px 8px;
}

.study-block-item .item-key {
  text-align: center;
  margin-bottom: 20px;
}

.study-block-date-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.not-studied {
  display: inline;
  text-align: right;
}

.done-mark {
  fill: #238636;
}

.in-process-mark {
  fill: #9e6a03;
}

.goit-logo {
  width: 50px;
}

.education-header-right .item-key {
  font-size: 12px;
}

.ppi-box .item-name {
  margin-bottom: 4px;
}

.education-header.ppi {
  background-color: var(--second-bg-color);
  padding: 15px 12px;
  border-radius: 8px;
}

/* #endregion ========== Education ========== */
